API_URL=https://legalitt-api.onrender.com/api
GOOGLE_WEB_CLIENT_ID=477031689444-qss3ik1q1cvgtcels5uq04qfmh38msa4.apps.googleusercontent.com
RAZORPAY_KEY_ID=your_razorpay_key_id
SOCKET_URL=https://legalitt-api.onrender.com
